@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

body{
  font-family: 'Montserrat', sans-serif;
 
}
.header{
  align-items: center;
  background-color: #0F52BA;
  color: #fff;
  display: flex;
  height: 6.5rem;
  justify-content: space-between;
  padding: 0 2rem;
}
.header h1{
  font-size: 2rem;
  font-weight: bold;
}

.header h1 span{
  font-size: 1rem;
  font-weight: normal;
  margin-left: .5rem;

}
