.DialogOverlay{
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% / 3);
    height: 100%;
    background-color: #0F52BA;
    animation: slideIn .5s ease-in-out;
    
}
@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
.DialogContent{
    padding: 20px;

}

.DialogTitle{
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    
}
.DialogHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}